html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;  
    background-color: #f9f9f9;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-400 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-500 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono-600 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a.hover{
    background-color: #f0f0f0;
    color: #333;
}

header {
    position: relative;
    border-bottom: 2px solid red;
    width:100%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

section h2{
    text-align: center;
}

#desktiop-section {
    display: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

nav {
    opacity: 0;
    display: none;
    position:absolute;
    width: 100%;
    background-color: black;
    text-align: center;
}

header button {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  border: 1px solid black;
}

nav ul li {
    border: 1px solid white;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

nav ul li a:hover{
    background-color: #444;
}

nav ul li a:active{
    background-color: #e01c1c;
}

.container section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-start;
    justify-content: center;
}

.container section > * {
    flex: 1 1 300px;
    box-sizing: border-box;

}

/*Tablet*/
@media screen and (min-width: 760px) and (max-width: 1020px) {
    .container section {
        flex-direction: column;
    }
    .container section > * {
        flex: none;
        width: 100%;
    }
}

/*Desktop*/
@media screen and (min-width: 1400px) {

    nav {
        display: block;
        opacity: 1;
        position: relative;
        text-align: left;
    }

    nav ul li {
            border: none;
        }

    section{ 
        display: inline-block;
        width: 30%; 
    }

    #desktop-section{
        display: inline-block;

    }

    header button {
        display: none;
    }

    nav ul { 
        opacity: 1;
        display: block;
    }

    nav ul li {
            display: inline-block;
        }
     
    
    
}